@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
	font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden; /* Prevent horizontal scrolling */
	background-color: #1e1e2e;
}
