@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
}

*:not(dialog) {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	font-family: Inter, Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	hyphens: auto;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

:root {
	color-scheme: light dark;
	--bg-base: light-dark(#fffcf0, #100f0f);
	--bg-surface: light-dark(#f2f0e5, #1c1b1a);
	--bg-border: light-dark(#e6e4d9, #282726);
	--bg-overlay: light-dark(#cecdc3, #403e3c);
	--text-body: light-dark(#100f0f, #f2f0e5);
	--text-muted: light-dark(#6f6e69, #878580);
	--color-primary: light-dark(#205ea6, #4385be);
	--color-secondary: light-dark(#5e409d, #8b7ec8);
	--color-success: light-dark(#40a02b, #a6e3a1);
	--color-error: light-dark(#af3029, #d14d41);
	--color-warning: light-dark(#bc5215, #da702c);
}

body {
	background-color: var(--bg-base);
	color: var(--text-body);
}
