@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
}

*:not(dialog) {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	font-family: Inter, Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	hyphens: auto;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

:root {
	color-scheme: light dark;
	--bg-base: light-dark(#eff1f5, #1e1e2e);
	--bg-surface: light-dark(#ccd0da, #313244);
	--bg-overlay: light-dark(#9ca0b0, #6c7086);
	--text-body: light-dark(#010101, #fafafa);
	--text-muted: light-dark(#6c6f85, #a6adc8);
	--color-primary: light-dark(#1e66f5, #89b4fa);
	--color-secondary: light-dark(#8839ef, #cba6f7);
	--color-success: light-dark(#40a02b, #a6e3a1);
	--color-error: light-dark(#d20f39, #f38ba8);
	--color-warning: light-dark(#fe640b, #fab387);
}

body {
	background-color: var(--bg-base);
}
